#form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form{
    width: 250px;
    height: 300px;
    position: relative;
    top: 50px;
    border: 1px solid black;
    left: 400px;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 40px;
    margin-top: 50px;;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    
}

label{
    margin-bottom: 100px;
    font-style: normal;
    font-weight: lighter;
    padding: 10px 10px;
    outline: none;
} 

label #label1{
    position: relative;
    top: 300px;
    font-family: monospace;
    font-size: 15px;
}
label #label2{
  position: relative;
  top: 300px;
  font-family: monospace;
  font-size: 15px;
}

button{
    width: 200px;
    background-color: #776d8a;
    border: 1px solid black;
    border-radius: 10px;
    height: 25px;
    margin-top: 20px;
    color: white;
}

button:hover{
    transform:scaleY(1.1);
    cursor: pointer;
}

input {
    width: 100%;
  }
  
input.error {
    border: 1px solid red;
  }
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }

/*.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: rgb(27, 25, 25);
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.email,
.password,
.confirm_password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.confirm_password {
  width: 100%;
}

.email,
.password {
  width: 100%;
}
email.errors {
  color: red;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #85929e;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.createAccount button:hover {
  color: #fff;
  background-color: #85929e;
  border: 2px solid #1b4f72;
  border-radius: 10px;
}

.signin {
  color: black;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}
*/